@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Shadcn/UI variables */
  --border: rgb(226 232 240);
  --ring: rgb(148 163 184);
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: rgb(51 65 85);
    --ring: rgb(100 116 139);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
